* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Chiều rộng cố định cho container */
}

h1 {
  color: #333;
  margin-bottom: 15px;
}

h2 {
  color: #555;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

li button , .save  {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}


li button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: #fff;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.02);
}

